  
<div class="alert alert-warning alert-dismissible fade show comment-like-error col-3 position-fixed top-0 mt-5 end-0" role="alert">
  <strong>Please </strong> Login to like the comment.
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
<div class="alert alert-warning alert-dismissible fade show comment-reply-error col-3 position-fixed top-0 mt-5 end-0" role="alert">
  <strong>Please </strong> Login to reply on comment.
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
