<div class="col-11 mb-2 ms-auto">
  <div class="card ml-5">
    <div class="card-header">
      <%= commenter_name reply.user_id %>
    </div>
    <div class="card-body">
      <%= reply.body %>
    </div>
  </div>
</div>
