 <div class="card col-2 text-center">
      <div class="card-body">
        <h5 class="card-title"><%= title %></h5>
        <h6 class="card-subtitle mb-2 text-muted"><%= sub_title %></h6>
        <p class="card-text fs-5"> <%= counter %></p>
      </div>
  </div>
