<div class="row py-3">
  <div class="col-10 mx-auto d-flex justify-content-between ">
    <%= render "moderators/shared/header_card", title: "Total Post ", sub_title: "all post counter", counter: post_counter_all %>
    <%= render "moderators/shared/header_card", title: "Total Post", sub_title: "last 7 days", counter: post_last_week_counter %>
    <%= render "moderators/shared/header_card", title: "Total User", sub_title: "last 7 days", counter: user_counter_last_week %>
    <%= render "moderators/shared/header_card", title: "Total Post Reported", sub_title: "last 7 days", counter: counter_post_reported_last_week %>
  </div>
</div>
