<div class="container">
  <div class="row">
    <div class="col-12">
      <h3>Welcome to Blogspot</h3>
      <p>Here you can read tons of blogs to increase your knowledge. </p>
      <p>You can also write your own blogs. </p>
    </div>
  </div>
</div>
