<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script src="https://kit.fontawesome.com/8da5cd2ad2.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <style>
      .header .welcome{
          font-size:23px;
          color:crimson;
      }
      .content{
        background: #f1f1f1;
      }
      a{
        text-decoration:none;
      }
      .footer{
        background:#000;
        color:white;
      }
      .footer a{
        color:white;
      }
    </style>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
